body{
    background-color: yellowgreen;
}

.not-visble{
    display: none;
}

.checked{
    color: rgb(172, 34, 69);
}

.my-btn {
    background-color: inherit !important;
    border: 0 !important;
}

.dz{
    border: 1px gray dashed !important;
    border-radius: 10px;
}

.dz:hover{
    background-color: rgb(149, 240, 231);
}