<!-- Footer starts -->

<div class="footer">
<div class="container">
    <div class="row">
    <div class="col p-2">
        Categories
        <div class="row">
        <div class="col">
            <a href="category.html">Fashion</a>
        </div>
        </div>

        <div class="row">
        <div class="col">
            <a href="category.html">Mobiles</a>
        </div>
        </div>

        <div class="row">
        <div class="col">
            <a href="category.html">Electronics</a>
        </div>
        </div>

        <div class="row">
        <div class="col">
            <a href="category.html">Home Decor</a>
        </div>
        </div>

        <div class="row">
        <div class="col">
            <a href="category.html">Books, Toys & More</a>
        </div>
        </div>
    </div>

    <div class="col">
        Help
        <div class="row">
        <div class="col">
            <a href="contact.html">Contact Us</a>
        </div>
        </div>

        <div class="row">
        <div class="col">
            +0141(2456357)
        </div>
        </div>

        <div class="row">
        <div class="col">
            +91(9824563575)
        </div>
        </div>

    </div>
    <div class="col">
        Social
        <div class="row">
        <div class="col">
            <a href="">Facebook</a>
        </div>
        </div>

        <div class="row">
        <div class="col">
            <a href="">Instagram</a>
        </div>
        </div>

        <div class="row">
        <div class="col">
            <a href="">Twitter</a>
        </div>
        </div>

        <div class="row">
        <div class="col">
            <a href="">YouTube</a>
        </div>
        </div>

    </div>
    </div>
</div>
</div>

<!-- Footer ends -->