{% extends 'seller/base.html'%}

{% block title %} seller {% endblock %}

{% block content %}


<div class="container p-5 " >
<form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {% for field in form %}
        <div class="form-control {% if field.errors %} errors {% endif %} width:30%">
        {{ field.label_tag }}
        <br>
        {{ field }}
        <br>
        {{ field.errors }}
        </div>
    {% endfor %}
    <br>
    <input type="submit" class="btn btn-danger" value="Upload">
</form>
</div>
{% endblock %}