{% extends 'seller/base.html' %}


{% load static %}
{% block title %} front {% endblock %}
  
{% block content %}
 
 <!-- Carousel starts -->

 <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="category.html">
        <img src="{{ carausal.image.url }}" class="d-block w-100" alt="...">
        <h2>Sale On Mens Fashion Grab Now</h2>
        <p>Click to see more...</p>
      </a>
    </div>
  {% for i in carausal2 %}

  <div class="carousel-item">
    <a href="category.html">
      <img src="{{ i.image.url }}" class="d-block w-100" alt="...">
      <h2>Sale On Home Decor Grab Now</h2>
      <p>Click to see more...</p>
    </a>
  </div>

 
    {% endfor %}

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<!-- Carousel ends -->
<div class="container">
  <h3>Fashion categories</h3> <br>
 

<div class="container mt-5">
  <div class="row">
      {% for blog in Shirts %}
      
      <div class="col-3">
          <div class="card" style="width: 18rem;">
              <a href="{% url 'dashboard' blog.id %}">
                  <img src="{{ blog.image1.url }}" height=100 alt="{{ blog.price }}">
              </a>
              <div class="card-body">
                  <h5 class="card-title">{{ blog.prod_name  }}</h5>
                  <p class="card-text">{{ blog.prod_name  }}</p>
              </div>
          </div>
      </div>
      {% endfor %}
  
  </div>
</div>
<div class="container">
  <h3>Electronics</h3> <br>
       <div class="container mt-5">
          <div class="row">
              {% for blog in Shirts %}
              <div class="col-3">
                  <div class="card" style="width: 18rem;">
                      <a href="">
                          <img src="{{ blog.image1.url }}" height=100 alt="{{ blog.price }}">
                      </a>
                      <div class="card-body">
                          <h5 class="card-title">{{ blog.prod_name  }}</h5>
                          <p class="card-text">{{ blog.prod_name  }}</p>
                      </div>
                  </div>
              </div>
      {% endfor %}
 </div>
</div>
      <div class="container">
        <h3>Home Decor </h3> <br>
             <div class="container mt-5">
                <div class="row">
                    {% for blog in Shirts %}
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <a href="">
                                <img src="{{ blog.image1.url }}" height=100 alt="{{ blog.price }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ blog.prod_name  }}</h5>
                                <p class="card-text">{{ blog.prod_name  }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
          </div>
        </div> 

        <div class="container">
          <h3>Mobiles</h3> <br>
               <div class="container mt-5">
                  <div class="row">
                      {% for blog in Shirts %}
                      <div class="col-3">
                          <div class="card" style="width: 18rem;">
                              <a href="">
                                  <img src="{{ blog.image1.url }}" height=100 alt="{{ blog.price }}">
                              </a>
                              <div class="card-body">
                                  <h5 class="card-title">{{ blog.prod_name  }}</h5>
                                  <p class="card-text">{{ blog.prod_name  }}</p>
                              </div>
                          </div>
                      </div>
              {% endfor %}
            </div>
          </div> 
    {% endblock %}
