<style>
    .login-inp a{
        text-decoration: none;
        padding: 5%;
        margin-top: 2%;
        font-size: large;
        box-shadow: 1px 1px 10px 1px rgb(17, 4, 90);
        transform: translateY(-2%);
        border: none;
        margin-right: 1%;
        border-radius: 4%;
        background-color: rgb(22, 22, 51);
        color: white;
    }
    .login-inp a:hover{
        background-color: white;
        color: rgb(22, 22, 51);
    }
</style>

<div class="dashboard mx-5">
    <h3 class="text-center mb-4">All Courses</h3>
    <hr>
    {% for course in courses %}

    {% if course.course_isactive == True %}
    <div class="row mb-2">
        <div class="col">
            <h5>Course: {{course.course_name}}</h5>
        </div>
        <div class="col">
            <h5>Created By: {{course.user.first_name}}</h5>
        </div>

        {% if request.user == course.user or request.user.is_superuser %}
            <div class="col">
                {% if course.course_isactive == True %}
                    <h5>Active</h5>
                {% else %}
                    <h5>Inactive</h5>
                {% endif %}
            </div>
        {% endif %}

        {% if request.user == course.user or request.user.is_superuser %}
        <div class="col-2">
            <div class="login-inp">
                <a href="{% url 'edit-course' course.id %}" id="edit-btn">Edit</a>
            </div>
        </div>
        <div class="col-2">
            <div class="login-inp">
                <a href="{% url 'view-course' course.id %}" id="edit-btn">View</a>
            </div>
        </div>
        {% else %}
        <div class="col-2">
            <div class="login-inp">
                <a href="{% url 'view-course' course.id %}" id="edit-btn">View</a>
            </div>
        </div>
        {% endif %}

        </div>
    <h5>Details:</h5>
    <p>{{course.course_description|slice:":200"}}...</p>
    
    <div class="row mb-2">
        <div class="col">
            <h5>Created: {{course.course_created|timesince}}</h5>
        </div>
        <div class="col">
            <h5>Updated: {{course.course_updated|timesince}} ago</h5>
        </div>
    </div>
    <hr>
    {% endif %}
    {% endfor %}
</div>