{% extends 'main.html' %}

{% block content %}
<style>
    .login-inp a{
        text-decoration: none;
        margin-top: 2%;
        font-size: large;
        box-shadow: 1px 1px 10px 1px rgb(17, 4, 90);
        transform: translateY(-2%);
        border: none;
        margin-right: 1%;
        border-radius: 4%;
        padding: 5%;
        background-color: rgb(22, 22, 51);
        color: white;
    }
    .login-inp a:hover{
        background-color: white;
        color: rgb(22, 22, 51);
    }

    .dashboard a{
        text-decoration: none;
        color: bisque;
    }

    .dashboard a:hover{
        color: aqua;
    }
</style>

<div class="container-dash mt-5 mx-5">
    {% include 'managepage.html' %}

    <div class="dashboard mx-5">
        <h3 class="text-center mb-4">All Mentors</h3>
        <hr>
        {% for user in mentors %}

        {% if request.user.is_superuser %}
        <div class="row mb-2">
            <div class="col">
                <h5>Name: 
                    <a href="{% url 'view-profile' user.id %}">
                        {{user.first_name}}
                    </a>
                </h5>
            </div>

            <div class="col">
                <h5>Email: {{user.email}}</h5>
            </div>
            
            <div class="col-2">
                {% if user.is_active == True %}
                <h5>Active</h5>
                {% else %}
                <h5>Inactive</h5>
                {% endif %}
            </div>

            {% if request.user == user or request.user.is_superuser %}
            <div class="col-2">
                <div class="login-inp">
                    <a href="{% url 'edit-user' user.id %}" id="edit-btn">Edit</a>
                </div>
            </div>
            {% else %}
            <div class="col-2">
                {% if followers != None %}
                <form action="{% url 'follow-user' %}" method="POST">  
                    {% csrf_token %} 
                    <div class="login-inp">
                        <input type="hidden" name="mentor" value="{{user}}" readonly>
                        <input type="hidden" name="value" value="unfollow" readonly>
                        <input type="submit" value="Unfollow">
                    </div>
                    </form>
                {% else %}
                <form action="{% url 'follow-user' %}" method="POST">  
                {% csrf_token %} 
                <div class="login-inp">
                    <input type="hidden" name="mentor" value="{{user}}" readonly>
                    <input type="hidden" name="value" value="follow" readonly>
                    <input type="submit" value="Follow">
                </div>
                </form>

                {% endif %}
            </div>
            {% endif %}
        </div>
        
        <div class="row mb-2">
            <div class="col">
                <h5>Joined at: {{user.date_joined|timesince}}</h5>
            </div>
            <div class="col">
                <h5>Last Login at: {{user.last_login|timesince}}</h5>
            </div>
        </div>
        <hr>

        {% elif user.is_active == False %}


        {% else %}
        <div class="row mb-2">
            <div class="col">
                <h5>Name: 
                    <a href="{% url 'view-profile' user.id %}">
                        {{user.first_name}}
                    </a>
                </h5>
            </div>

            <div class="col">
                <h5>Email: {{user.email}}</h5>
            </div>
            
            <div class="col-2">
                {% if user.is_active == True %}
                <h5>Active</h5>
                {% else %}
                <h5>Inactive</h5>
                {% endif %}
            </div>

            <div class="col-2">
                <div class="login-inp">
                    <a href="{% url 'view-message' user.id %}" id="edit-btn">Message</a>
                </div>
            </div>

            {% if request.user == user or request.user.is_superuser %}
            <div class="col-2">
                <div class="login-inp">
                    <a href="{% url 'edit-user' user.id %}" id="edit-btn">Edit</a>
                </div>
            </div>
            {% else %}
            <div class="col-2">
                {% if user.username in ment %}
                <form action="{% url 'follow-user' %}" method="POST">  
                    {% csrf_token %} 
                    <div class="login-inp">
                        <input type="hidden" name="mentor" value="{{user}}" readonly>
                        <input type="hidden" name="value" value="unfollow" readonly>
                        <input type="submit" value="Unfollow">
                    </div>
                    </form>
                {% else %}
                <form action="{% url 'follow-user' %}" method="POST">  
                {% csrf_token %} 
                <div class="login-inp">
                    <input type="hidden" name="mentor" value="{{user}}" readonly>
                    <input type="hidden" name="value" value="follow" readonly>
                    <input type="submit" value="Follow">
                </div>
                </form>

                {% endif %}
            </div>
            {% endif %}
        </div>
        
        <div class="row mb-2">
            <div class="col">
                <h5>Joined at: {{user.date_joined|timesince}}</h5>
            </div>
            <div class="col">
                <h5>Last Login at: {{user.last_login|timesince}}</h5>
            </div>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
    </div>
  </div>
{% endblock content %}